@charset "UFT-8";


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif;   
    border: 0;
}

:root{
    --fundo: #95ccff60;
    --titulo: #032449;
    --subitulo: #043E80;
}

body, html{
    width: 100%;
    height: 100%;
    background-color: rgba(166, 226, 241, 0.205);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Inicio*/
.content{
    width: 500px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.199);
}


/*Título do fomulário*/

.parte-cima{
    width: 100%;
    padding-bottom: 10px;
}

#titulo {
    color: var(--titulo); 
    text-align: center;
    font-weight: bolder;
} 

#subtitulo {
    color: var(--subitulo);
    text-align: center;
    font-weight: bold;
} 




/*Entrada de dados*/
fieldset.grupo {
    padding-top: 5px;
    padding-bottom: 35px;
}
fieldset.grupo .inputCampo {
    float:  left;
    margin-right: 1em;
    border: 1px solid #59429d;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0.3em;
    
}

.entradaDados{
    border: 1px solid;
    width: 200px;
    height: 20px;
}

.entradaDados:hover{
    background-color: #0756b13a;
}






input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 5px;
}




/*TECNOLOGIAS QUE DESENVOLVE*/
.desenvolve {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    color: var(--subitulo);

}

.desenvolve .text{
    display: block;
    font-weight: bold;
    margin-bottom: 7px ;
    color: var(--titulo);
}




/*Select*/
.senioridade{
    padding-bottom: 35px;
}

#txtSenioridade{
    font-weight: bold;
    color: var(--titulo);
}

.senioridade select{
    color: var(--subitulo);
}





/*Tecnologias*/
#tecnologias-check{
    padding-bottom: 35px;
}

#tecnologias-check #txt{
    font-weight: bold;
    color: var(--titulo);
    display: block;
    margin-bottom:0.5em;
}

#tecnologias-check label{
    margin-left: 3px;
    color: var(--subitulo);
}

#tecnologias-check input{
    cursor: pointer;
}




/*descrição*/

.campo #txt{
    font-weight: bold;
    color: var(--titulo);
}

.campo textarea {
    padding: 0.2em;
    border: 1px solid var(--titulo);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    cursor: pointer;
    color: var(--subitulo);
    
}

textarea:focus {
    background: #0756b13a;
}


/* Botão */

.botaoultimo{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.botao {
    font-size: 1.2em;
    background: var(--subitulo);
    border: 0;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: var(--titulo);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao{
    cursor: pointer;
}




/* .grupo:before, .grupo:after {
    display: table;
} */





















